<style>
    .css-rzmzie {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        margin-top: auto;
        position: relative;
        width: 100%;
    }
</style>
<footer class="css-rzmzie">
    <style>
        .css-u4vmuq {
            padding-top: 50px;
        }
    </style>
    <div class="css-u4vmuq">
        <style>
            .css-10xb0p9 {
                letter-spacing: 3.4px;
                line-height: 1;
                margin: 52px auto;
                text-align: center;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
            }
        </style>
        <div class="css-10xb0p9">
            <style>
                .css-b8guwi {
                    padding: 0 18px 16px;
                    font-family: Abhaya Libre;
                    color: #617939;
                    font-size: 60px;
                    text-transform: none;
                    letter-spacing: 6px;
                    font-weight: 600;
                }

                @media (max-width: 640px) {
                    .css-b8guwi {
                        font-size: calc(60px * 0.75);
                    }
                }

                @media(max-width: 768px) {
                    .css-b8guwi {
                        letter-spacing: 3px;
                    }
                }
            </style>
            <div class="css-b8guwi">E&amp;S</div>
            <style>
                .css-1rp274a {
                    padding: 20px 18px 0;
                    font-family: Roboto;
                    letter-spacing: 2px;
                    color: #617939;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    line-height: 1.25rem;
                    border-top: 1px solid #617939;
                }

                @media (max-width: 640px) {
                    .css-1rp274a {
                        font-size: calc(18px * 0.75);
                    }
                }

                @media(max-width: 640px) {
                    .css-1rp274a {
                        font-size: calc(18px * 0.85);
                    }
                }
            </style>
            <div class="css-1rp274a">11.14.2026</div>
        </div>
        <style>
            .css-13x5azt {
                line-height: 1.75;
                font-family: Roboto;
                letter-spacing: 0px;
                color: #617939;
                font-size: 13px;
                font-weight: normal;
                margin: 12px 0;
                text-align: center;
            }

            @media (max-width: 640px) {
                .css-13x5azt {
                    font-size: calc(13px * 0.8333);
                }
            }

            .css-13x5azt a {
                -webkit-text-decoration: underline;
                text-decoration: underline;
            }


            .css-umebgm a:hover, .css-haue6f a:hover {
                color: #617939;
                border-bottom: 2px solid rgba(97, 121, 57, 70%);
                text-decoration: none;
            }
        </style>
    </div>
    <style>
        .css-15nr1ni {
            width: 100%;
            z-index: -1;
        }
    </style>
</footer>