<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title >Evan and Shuli&#x27;s Wedding</title>
    <meta name="description" content="Evan and Shuli &#x27;s Wedding Website!" />
    <meta name="googlebot" content="noindex,nofollow" />
    <meta name="robots" content="noindex,nofollow" />
    <meta property="og:image"
        content="./photo/us.jpg"
        />
    <meta property="og:type" content="website" />
    <link rel="preload" as="image"
        href="./photo/us.jpg"
        imageSizes="100vw" data-testid="preload-images" />
    <link rel="icon" href="/assets/images/favicon.png">
    <meta name="theme-color" content="#eeebdd" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="assets/css/main.css" rel="stylesheet"
            />
    <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&amp;family=Roboto:wght@400&amp;display=swap"
                media="all" />
</head>