<style>
    .css-top_spacing_for_menubar {
        height: 56px;
        width: 100%;
    }

    @media (min-width: 768px) {
        .css-top_spacing_for_menubar {
            display: none;
        }
    }
</style>
<div class="css-top_spacing_for_menubar"></div>

<style>
    .header-img {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>
<div class="header-img">
    <picture id="top-image" style="max-width: 1300px;">
        <source
            media="(min-resolution: 192dpi) and (min-width: 1280px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_3000.h?ordering=explicit">
        <source
            media="(min-resolution: 192dpi) and (min-width: 1024px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_2560.h?ordering=explicit">
        <source
            media="(min-resolution: 192dpi) and (min-width: 768px),(-webkit-min-device-pixel-ratio: 2) and (min-width: 768px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_2048.h?ordering=explicit">
        <source media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)"
            srcset="https://media-api.xogrp.com/images/81b00837-c5bf-46c6-b1b3-d6af0df57379~rt_auto-rs_1536.h?ordering=explicit">
        <source
            media="(min-resolution: 144dpi) and (min-width: 1280px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1280px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_2250.h?ordering=explicit">
        <source
            media="(min-resolution: 144dpi) and (min-width: 1024px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_1920.h?ordering=explicit">
        <source
            media="(min-resolution: 144dpi) and (min-width: 768px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_1536.h?ordering=explicit">
        <source media="(min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5)"
            srcset="https://media-api.xogrp.com/images/81b00837-c5bf-46c6-b1b3-d6af0df57379~rt_auto-rs_1152.h?ordering=explicit">
        <source media="(min-width: 1280px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_1500.h?ordering=explicit">
        <source media="(min-width: 1024px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_1280.h?ordering=explicit">
        <source media="(min-width: 768px)"
            srcset="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_1024.h?ordering=explicit">
        <source
            srcset="https://media-api.xogrp.com/images/81b00837-c5bf-46c6-b1b3-d6af0df57379~rt_auto-rs_768.h?ordering=explicit">
        <img loading="eager" alt="" class="cover-photo-img"
            src="https://media-api.xogrp.com/images/ce57cdc9-bb8e-4771-afe1-8e1cd288a547~rt_auto-rs_1024.h?ordering=explicit">
    </picture>
</div>