<style>
    @media (min-width: 768px) {
        .css-1s8mc50 {
            display: none;
        }
    }
</style>
<div data-testid="mobile-nav-wrapper" class="css-1s8mc50">
    <style>
        .css-1s2avkl {
            display: block;
            height: 40px;
            left: 8px;
            margin: 0;
            overflow: hidden;
            position: fixed;
            top: 8px;
            width: 40px;
            z-index: 19;
        }
    </style>
    <div class="css-1s2avkl">
        <style>
            .css-59byx {
                background: none;
                border: none;
                font-size: 10px;
                height: 40px;
                width: 40px;
                border-radius: 3px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
        </style><button data-testid="MobileNav__Button" class="css-59byx">
            <style>
                .css-prysaa {
                    width: 24px;
                    height: 24px;
                    position: relative;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: 0.5s ease-in-out;
                    transition: 0.5s ease-in-out;
                }
            </style>
            <div data-testid="HamburgerIcon" class="css-prysaa">
                <style>
                    .css-19okhcu {
                        display: block;
                        position: absolute;
                        height: 1.5px;
                        width: 100%;
                        background: #617939;
                        border-radius: 9px;
                        opacity: 1;
                        left: 0;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;
                        top: 4px;
                    }
                </style><span class="css-19okhcu"></span>
                <style>
                    .css-1aplmaw {
                        display: block;
                        position: absolute;
                        height: 1.5px;
                        width: 100%;
                        background: #617939;
                        border-radius: 9px;
                        opacity: 1;
                        left: 0;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;
                        top: 12px;
                    }
                </style><span class="css-1aplmaw"></span>
                <style>
                    .css-1suwc22 {
                        display: block;
                        position: absolute;
                        height: 1.5px;
                        width: 100%;
                        background: #617939;
                        border-radius: 9px;
                        opacity: 1;
                        left: 0;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;
                        top: 12px;
                    }
                </style><span class="css-1suwc22"></span>
                <style>
                    .css-oebwqf {
                        display: block;
                        position: absolute;
                        height: 1.5px;
                        width: 100%;
                        background: #617939;
                        border-radius: 9px;
                        opacity: 1;
                        left: 0;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: 0.25s ease-in-out;
                        transition: 0.25s ease-in-out;
                        top: 20px;
                    }
                </style><span class="css-oebwqf"></span>
            </div>
            <style>
                .css-1wkn33 {
                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
            </style><span class="css-1wkn33">Menu Button</span>
        </button>
    </div>
    <style>
        .css-u26puv {
            height: 56px;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 18;
            background-color: #eeebdd;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    </style>
    <div class="css-u26puv">
        <style>
            .css-ch388k {
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                width: 100%;
                font-family: Abhaya Libre;
                color: #617939;
                font-size: 34px;
                text-transform: lowercase;
                font-weight: 600;
                letter-spacing: 2px;
            }

            @media (max-width: 640px) {
                .css-ch388k {
                    font-size: calc(34px * 0.75);
                }
            }

            @media(max-width: 640px) {
                .css-ch388k {
                    font-size: calc(34px * 0.85);
                }
            }
        </style>
        <h2 data-testid="mobile-page-title" class="css-ch388k">E&amp;S</h2>
    </div>
    <style>
        .css-7gstzz {
            left: 0;
            overflow: hidden;
            position: fixed;
            top: 0;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            width: 100%;
            z-index: 18;
            background-color: #eeebdd;
            height: 0;
        }
    </style>
    <nav role="navigation" class="css-7gstzz">
        <style>
            .css-nfosgx {
                padding-top: 56px;
                height: 100vh;
                overflow-y: auto;
            }
        </style>
        <div class="css-nfosgx">
            <style>
                .css-kxffhl {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            </style>

<style>
    .css-unselected_page {
        font-family: Roboto;
        letter-spacing: 1px;
        color: #617939;
        font-size: 14px;
        font-weight: normal;
        border-bottom: 2px solid transparent;
        display: block;
        letter-spacing: 2px;
        line-height: 1;
        margin: 0 auto;
        padding: 8px 8px 6px;
        -webkit-text-decoration: none;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    @media (max-width: 640px) {
        .css-unselected_page {
            font-size: calc(14px * 0.875);
        }
    }

    @media(max-width: 640px) {
        .css-unselected_page {
            font-size: calc(14px * 0.9);
        }
    }
</style>
            <ul class="css-kxffhl">
                <style>
                    .css-221guv {
                        text-align: center;
                        width: 100%;
                        padding: 8px;
                    }

                    .css-221guv:hover,
                    .css-221guv:focus {
                        background-color: rgba(97, 121, 57, 10%);
                    }
                </style>
                <li class="css-221guv"><a class="css-7psywa"
                    href="{{site.menu_pages.home}}"><span
                    class="{% if page.name == 'index.md' %}css-selected_page{% else %}css-unselected_page{% endif %}">Today</span></a></li>
                <li class="css-221guv"><a class="css-7psywa" rel="nofollow"
                    href="{{site.menu_pages.schedule}}"><span
                    class="{% if page.name == 'schedule.md' %}css-selected_page{% else %}css-unselected_page{% endif %}">Schedule</span>
                    </a></li>
                <li class="css-221guv"><a class="css-7psywa" rel="nofollow"
                    href="{{site.menu_pages.qna}}"><span
                    class="{% if page.name == 'q-a.md' %}css-selected_page{% else %}css-unselected_page{% endif %}">Q &amp; A</span></a></li>
                <li class="css-221guv"><a class="css-7psywa" rel="nofollow"
                    href="{{site.menu_pages.travel}}"><span
                    class="{% if page.name == 'travel.md' %}css-selected_page{% else %}css-unselected_page{% endif %}">Travel &amp; Lodging</span></a></li>
                <li class="css-221guv"><a class="css-7psywa" rel="nofollow"
                    href="{{site.menu_pages.things_to_do}}"><span
                    class="{% if page.name == 'things_to_do.md' %}css-selected_page{% else %}css-unselected_page{% endif %}">Things to Do</span></a></li>
            </ul>
        </div>
    </nav>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const button = document.querySelector('[data-testid="MobileNav__Button"]');
        const nav = document.querySelector('.css-7gstzz');

        button.addEventListener('click', function () {
            const isVisible = nav.style.height === '100vh';
            nav.style.height = isVisible ? '0' : '100vh';
        });
    });
</script>