<style>
    .mobile-us-container-1 {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        .verticalLayout.homePage .mobile-us-container-1 {
            height: 50%;
            overflow: hidden;
            padding-bottom: 91.666%;
        }
    }

    @media (min-width: 768px) {
        .verticalLayout.homePage .mobile-us-container-1 {
            position: -webkit-sticky;
            position: sticky;
            top: 1rem;
        }
    }

    @media(min-width: 768px) {
        .mobile-us-container-1 {
            padding-left: 50px;
            padding-right: 50px;
            max-width: 1200px;
        }
    }

    @media (min-width: 768px) {
        .mobile-us-container-1 {
            display: none;
        }
    }
</style>
<div class="mobile-us-container-1">
    <style>
        @media (min-width: 768px) {
            .horizontalLayout.homePage .mobile-us-container-2 {
                width: 100%;
                padding-bottom: 50%;
                position: relative;
                overflow: hidden;
            }
        }
    </style>
    <div class="mobile-us-container-2">
        <style>
            .cover-photo {
                width: 100%;
            }

            @media (min-width: 768px) {
                .horizontalLayout.homePage .cover-photo {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            @media (max-width: 767px) {
                .verticalLayout.homePage .cover-photo {
                    width: 75%;
                    margin: auto 12.5%;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        </style>
        <picture data-testid="cover-photo" class="cover-photo">
            <style>
                .cover-photo-img {
                    width: 100%;
                }
            </style><img loading="eager" alt="Evan &amp; Shuli Home Page Banner" width="762" height="953" src="us.jpg"
                class="cover-photo-img" />
        </picture>
    </div>
</div>