<style>
    .css-1ngtykm {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        .verticalLayout.homePage .css-1ngtykm {
            height: 50%;
            overflow: hidden;
            padding-bottom: 91.666%;
        }
    }

    @media (min-width: 768px) {
        .verticalLayout.homePage .css-1ngtykm {
            position: -webkit-sticky;
            position: sticky;
            top: 1rem;
        }
    }

    @media(min-width: 768px) {
        .css-1ngtykm {
            padding-left: 50px;
            padding-right: 50px;
            max-width: 1200px;
        }
    }

    @media (min-width: 768px) {
        .css-1ngtykm {
            display: none;
        }
    }
</style>
<div class="css-1ngtykm">
    <style>
        @media (min-width: 768px) {
            .horizontalLayout.homePage .css-vehxcf {
                width: 100%;
                padding-bottom: 50%;
                position: relative;
                overflow: hidden;
            }
        }
    </style>
    <div class="css-vehxcf">
        <style>
            .css-1ss426c {
                width: 100%;
            }

            @media (min-width: 768px) {
                .horizontalLayout.homePage .css-1ss426c {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            @media (max-width: 767px) {
                .verticalLayout.homePage .css-1ss426c {
                    width: 75%;
                    margin: auto 12.5%;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        </style>
        <picture data-testid="cover-photo" class="css-1ss426c">
            <style>
                .css-1ago99h {
                    width: 100%;
                }
            </style><img loading="eager" alt="Evan &amp; Shuli Home Page Banner" width="762"
                height="953"
                src="us.jpg"
                class="css-1ago99h" />
        </picture>
    </div>
</div>