<style>
    .horizontalLayout.homePage .css-1xk3xkj {
        width: 100%;
    }

    .verticalLayout.homePage .css-1xk3xkj {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        .verticalLayout.homePage .css-1xk3xkj {
            width: 50%;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            max-width: 720px;
            padding-left: 2rem;
        }
    }

    @media (min-width: 1024px) {
        .verticalLayout.homePage .css-1xk3xkj {
            padding-left: 5rem;
        }
    }

    @media (min-width: 1200px) {
        .verticalLayout.homePage .css-1xk3xkj {
            padding-left: 7rem;
        }
    }
</style>
<div class="css-1xk3xkj">
    <style>
        .css-mf7073 {
            height: 20px;
            width: 100%;
        }
    </style>
    <div class="css-mf7073"></div>
    <style>
        .css-1pe6uf9 {
            width: 100%;
            position: relative;
            margin: 0 auto;
            display: none;
        }

        @media (max-width: 767px) {
            .verticalLayout.homePage .css-1pe6uf9 {
                height: 50%;
                overflow: hidden;
                padding-bottom: 91.666%;
            }
        }

        @media (min-width: 768px) {
            .verticalLayout.homePage .css-1pe6uf9 {
                position: -webkit-sticky;
                position: sticky;
                top: 1rem;
            }
        }

        @media(min-width: 768px) {
            .css-1pe6uf9 {
                padding-left: 50px;
                padding-right: 20px;
                max-width: 1200px;
            }
        }

        @media (min-width: 768px) {
            .css-1pe6uf9 {
                display: block;
            }
        }


        .bannerimage {
            width: 100%;
            display: block;
        }
    </style>
    <div class="css-1pe6uf9">
        <div class="css-vehxcf">
            <picture id="cover-photo" data-testid="cover-photo" class="css-1ss426c">
                <source
                srcSet="us.jpg" />
                <img loading="eager" alt="Evan &amp; Shuli Home Page Banner" width="762"
                    height="953" src="us.jpg" class="bannerimage css-1ago99h" />
            </picture>
        </div>
    </div>
</div>