---
--- 

/* Make navbar links appear cleanly */
  p {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Don't underline navbar links by default */
  a {
    text-decoration: none;
  }
  a:hover {
    /* TODO - This doesn't seem to be working right now, 
    I think it should underline navbar links when you hover on them */
    text-decoration: underline;
  }
  
  /* Makes the front page photo go to the left of the text instead of above it */
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  img,
  picture {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
  }