---
--- 

  p {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
 
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    color: var(--site-union-links-default-color, var(--site-union-color-link-on-light, var(--site-union-color-additional-01extra-400, #0073E6)));
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  :focus {
    outline: none;
  }
  
  :focus-visible {
    outline-color: var(--site-union-essentials-outline-color, var(--site-union-color-additional-01extra-400, #0073E6));
    outline-offset: var(--site-union-essentials-outline-offset, 2px);
    outline-style: solid;
    outline-width: 3px;
  }
  
  html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }
  
  img,
  picture {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
  }
  
  a,
  area,
  button,
  [role=button],
  input,
  label,
  select,
  summary,
  textarea {
    touch-action: manipulation;
  }
  
  input,
  textarea,
  button,
  select {
    color: inherit;

  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .display-link--c1c4d {
    font: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .tappable-area--ec432 {
    align-items: baseline;
    display: inline-flex;
  }
  .tappable-area--ec432.lg--26689 {
    padding: 9px 0;
  }
  .tappable-area--ec432.md--8ecfb {
    padding: 8px 0;
  }
  
  .icon--0fefa {
    align-self: center;
  }
  
  .has-right-label--0cc42 {
    flex-direction: row;
  }
  .has-right-label--0cc42 .icon--0fefa {
    margin-right: var(--site-union-links-icon-horizontal-spacing, 8px);
  }
  
  .has-left-label--c045d {
    flex-direction: row-reverse;
  }
  .has-left-label--c045d .icon--0fefa {
    margin-left: var(--site-union-links-icon-horizontal-spacing, 8px);
  }
  .disable-children-pointer-events--008ec * {
    pointer-events: none;
  }
  .icon--1935d {
    display: inline-block;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
  }
  
  .icon-has-no-size--189a8 {
    height: 1em;
    width: 1em;
  }
  
  .size-sm--ad48b {
    height: var(--site-union-icons-sm-size, 1rem);
    width: var(--site-union-icons-sm-size, 1rem);
  }
  
  .size-md--ffa00 {
    height: var(--site-union-icons-md-size, 1.5rem);
    width: var(--site-union-icons-md-size, 1.5rem);
  }
  
  .size-lg--2b900 {
    height: var(--site-union-icons-lg-size, 2rem);
    width: var(--site-union-icons-lg-size, 2rem);
  }
  .couple-info--d7aef{text-align:center}.event-info--9b45b{color:var(--site-union-color-coolgray-500, var(--site-union-color-neutral-500, #51545C));margin-top:0.75rem}
  
  /* Using hardcoded pixels because the icon sizes are too irregular
     to accommodate rem (they aren't perfectly square), resulting in
     the space around an icon looking different across apps (namely WWS). */
  /* WWS global styling is different and affects the various states */
  a.anchor--9eaed,
  a.anchor--9eaed:hover,
  a.anchor--9eaed:visited,
  a.anchor--9eaed:active {
    border: none;
    color: var(--site-union-color-midnight, var(--site-union-color-neutral-600, #37393F));
    cursor: pointer;


    outline: none;
  }
  
  .wrapper--5b9bd {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--site-union-color-midnight, var(--site-union-color-neutral-600, #37393F));
    cursor: pointer;
    display: inline-flex;

    justify-content: center;

    outline: none;
  }
  .wrapper--5b9bd.circle--a6858 {
    background-color: var(--site-union-color-white, var(--site-union-color-neutral-white, #FFF));
    border-radius: 50%;
    box-shadow: 0 0 4px 0 var(--site-union-color-coolgray-300, var(--site-union-color-neutral-300, #CACCD0));
    transition: all 0.3s ease-out;
  }
  .wrapper--5b9bd.circle--a6858:hover {
    box-shadow: 0 0 12px 0 var(--site-union-color-coolgray-300, var(--site-union-color-neutral-300, #CACCD0));
  }
  .wrapper--5b9bd.circle--a6858:active {
    box-shadow: 0 0 3px 0 var(--site-union-color-coolgray-200, var(--site-union-color-neutral-200, #E4E5E9));
  }
  .wrapper--5b9bd.circle--a6858.sm--dbc1f {
    height: 40px;
    width: 40px;
  }
  .wrapper--5b9bd.circle--a6858.lg--50003 {
    border: 1px solid var(--site-union-color-coolgray-300, var(--site-union-color-neutral-300, #CACCD0));
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 4px rgba(0, 0, 0, 0.1);
    height: 68px;
    width: 68px;
  }
  
  /* !important because Union SSR styles get a
     weird load order and Union takes precedent
     on the Icon */
  .cart-icon--baa17 {
    height: 24px !important;
    width: 24px !important;
  }
  .cart-icon--baa17.lg--50003 {
    height: 2rem !important;
    width: 2rem !important;
  }
  
  .icon-count-container--f99e3 {
    display: inline-block;
    position: relative;
  }
  .icon-count-container--f99e3.lg--50003 {
    margin-right: 0.25rem;
  }
  
  .cart-count--b7a25 {
    background-color: var(--site-union-color-tkred-400, var(--site-union-color-primary-400, #D700A0));
    border-radius: 50px;
    color: var(--site-union-color-white, var(--site-union-color-neutral-white, #FFF));


    left: 14px;

    min-width: 16px;
    padding: 0 4px;
    position: absolute;
    text-align: center;
    top: -3px;
    vertical-align: middle;
  }
  .cart-count--b7a25.lg--50003 {
    left: 1.5rem;
    top: 0;
  }
  .container--e4f4b{border-bottom:1px solid var(--site-union-color-border-default, var(--site-union-color-neutral-300, #CACCD0));position:sticky;top:0;z-index:2;background-color:var(--site-union-color-background-light, var(--site-union-color-neutral-white, #FFF))}.container--e4f4b .content--f2d2e{display:flex;align-items:center;justify-content:space-between;height:71px}.container--e4f4b .content--f2d2e .logo--0fea4{height:32px;width:112px}
  /**
  These overrides are intended to facilitate using the breakpoints package in the
  utilities we get from tw/bootstrap
  */
  /**
   * This mixin is used throughout many of bootstrap's utilities to validate
   * the order of the breakpoints. We don't use this directly
   */
  /**
  The following functions/mixins are changed to rely on the naming of the breakpoints
  and not the actual breakpoint value. Relying on the breakpoint value causes the sass
  build to break when using the css-module variables
  */
  /* Grid breakpoints  */
  /**
   * Bootstrap overrides
   */
  /* Grid containers */
  /* Gutter */
  .container--35f67,
  .container-fluid--8cabb,
  .container-xl--c88c1,
  .container-lg--5764c,
  .container-md--76167,
  .container-sm--5a2e8 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 480px) {
    .container-sm--5a2e8, .container--35f67 {
      max-width: 1360px;
    }
  }
  @media (min-width: 768px) {
    .container-md--76167, .container-sm--5a2e8, .container--35f67 {
      max-width: 1360px;
    }
  }
  @media (min-width: 1024px) {
    .container-lg--5764c, .container-md--76167, .container-sm--5a2e8, .container--35f67 {
      max-width: 1360px;
    }
  }
  @media (min-width: 1192px) {
    .container-xl--c88c1, .container-lg--5764c, .container-md--76167, .container-sm--5a2e8, .container--35f67 {
      max-width: 1360px;
    }
  }
  .row--a6f92 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  
  .no-gutters--24d50 {
    margin-right: 0;
    margin-left: 0;
  }
  .no-gutters--24d50 > .col--51449,
  .no-gutters--24d50 > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
  }
  .top-level-container--c290f.top-level-container--c290f {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
  }
  @media (min-width: 768px) {
    .top-level-container--c290f.top-level-container--c290f {
      padding: 0 32px;
    }
  }
  @media (min-width: 1360px) {
    .top-level-container--c290f.top-level-container--c290f {
      max-width: 1360px;
    }
  }
  
  .full-bleed-container--728e2 {
    position: relative;
    width: 100%;
  }
  
  .sticky-left-column--06d53.sticky-left-column--06d53 {
    display: none;
    margin-left: -32px;
    margin-right: 32px;
  }
  @media (min-width: 768px) {
    .sticky-left-column--06d53.sticky-left-column--06d53 {
      display: block;
      flex: 0 0 199px;
      max-width: 199px;
    }
  }
  @media (min-width: 1360px) {
    .sticky-left-column--06d53.sticky-left-column--06d53 {
      margin-left: initial;
    }
  }
  
  .main-content-column--c6222.main-content-column--c6222 {
    flex: 1 1;
  }
  @media (max-width: 767.98px) {
    .main-content-column--c6222.main-content-column--c6222 {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .main-content-column--c6222.main-content-column--c6222 {
      max-width: calc(100vw - 263px);
    }
  }
  @media (min-width: 1360px) {
    .main-content-column--c6222.main-content-column--c6222 {
      max-width: 1065px;
    }
  }
  
  .justify-content-start--841de {
    justify-content: flex-start;
  }
  
  .justify-content-center--40276 {
    justify-content: center;
  }
  
  .justify-content-end--5e0be {
    justify-content: flex-end;
  }
  
  .align-items-start--007c7 {
    align-items: flex-start;
  }
  
  .align-items-center--54c7c {
    align-items: center;
  }
  
  .align-items-end--801de {
    align-items: flex-end;
  }
  
  .vertical-gutters--9318b > * {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .vertical-gutters--9318b:nth-of-type(1) > * {
    padding-top: 0;
  }
  
  .vertical-gutters--9318b:nth-last-of-type(1) > * {
    padding-bottom: 0;
  }
  #products-grid-app-root{min-height:100vh;position:relative;padding-bottom:440px}@media(min-width: 768px){#products-grid-app-root{padding-bottom:162px}}.top-level-container--ac6b8{height:calc(100vh - 72px - 180px - 89px - 440px)}@media(min-width: 768px){.top-level-container--ac6b8{height:calc(100vh - 72px - 180px - 89px - 162px)}}.top-level-container--ac6b8>[class*=row--]{height:100%}.top-level-container--ac6b8>[class*=row--]>[class*=col-]{height:100%;display:flex;align-items:center;justify-content:center}
  .size-default--0f675 {
    height: 2.5em;
    width: 2.5em;
  }
  .size-default--0f675 .spinner--99554.spinner--99554 {
    stroke-width: 0.78px;
  }
  
  .size-sm--67c12 {
    height: 1em;
    width: 1em;
  }
  .size-sm--67c12 .spinner--99554.spinner--99554 {
    stroke-width: 1.95px;
  }
  
  .size-md--e4cb3 {
    height: 1.5em;
    width: 1.5em;
  }
  .size-md--e4cb3 .spinner--99554.spinner--99554 {
    stroke-width: 1.3px;
  }
  
  .size-lg--7ac1a {
    height: 2em;
    width: 2em;
  }
  .size-lg--7ac1a .spinner--99554.spinner--99554 {
    stroke-width: 0.98px;
  }
  
  .loading--fadb3 {
    animation: rotate-animation--1db20 1.6s infinite linear;
    position: relative;
  }
  
  @keyframes rotate-animation--1db20 {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  .loading--fadb3 .spinner--99554 {
    animation-direction: reverse;
    animation-duration: 1.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: loading--animation--9f17c;
    animation-timing-function: ease-in-out;
    fill: none;
    stroke: var(--site-union-spinner-color, var(--site-union-color-additional-01extra-400, #0073E6));
    stroke-dasharray: 64.056;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transform-origin: 50% 50%;
  }
  
  @keyframes loading--animation--9f17c {
    0%, 25% {
      stroke-dashoffset: 16;
      transform: rotate(270deg);
    }
    50%, 75% {
      stroke-dashoffset: 58;
      transform: rotate(315deg);
    }
    100% {
      stroke-dashoffset: 16;
      transform: rotate(-90deg);
    }
  }
  .filter-pill-container--fc8ef{background-color:var(--site-union-color-text-on-dark-default, var(--site-union-color-neutral-white, #FFF));border:1px solid var(--site-union-color-border-default, var(--site-union-color-neutral-300, #CACCD0));border-radius:10rem;color:var(--site-union-color-text-default, var(--site-union-color-neutral-black, #000));cursor:pointer;display:inline-block;margin-bottom:0.5rem;margin-right:0.5rem;padding:5px 0.75rem 5px 1rem;text-align:center}.filter-pill-container--fc8ef:active,.filter-pill-container--fc8ef:hover,.filter-pill-container--fc8ef:focus{background-color:var(--site-union-color-background-light-contrast, var(--site-union-color-neutral-100, #F1F2F4))}.filter-pill-container--fc8ef:active:enabled,.filter-pill-container--fc8ef:hover:enabled,.filter-pill-container--fc8ef:focus:enabled{background-color:var(--site-union-color-background-light-contrast, var(--site-union-color-neutral-100, #F1F2F4))}.filter-pill-container--fc8ef .icon-close--fb520{margin-left:0.75rem}.filter-pill-container--fc8ef .label-container--12e5b{align-items:center;display:flex}.filter-pills-clear-button--3974b{color:var(--site-union-color-link-on-light, var(--site-union-color-additional-01extra-400, #0073E6));cursor:pointer;display:inline;margin-bottom:0.5rem}.filter-pills-clear-button--3974b:active,.filter-pills-clear-button--3974b:hover,.filter-pills-clear-button--3974b:focus{text-decoration:underline}.filter-pills-container--1542a{display:none}@media(min-width: 768px){.filter-pills-container--1542a{align-items:center;display:flex;flex-flow:row wrap;justify-content:flex-start;margin-bottom:0.75rem}}

  .non-partner-stores-container--c156d{display:grid;grid-gap:1.25rem;grid-template-columns:repeat(1, 1fr);width:100%}@media(min-width: 1024px){.non-partner-stores-container--c156d{grid-template-columns:repeat(2, 1fr)}}@media(min-width: 1192px){.non-partner-stores-container--c156d{grid-template-columns:repeat(3, 1fr)}}
  .base--93fbc {
    background-color: var(--site-union-color-background-light, var(--site-union-color-neutral-white, #FFF));
    border-radius: 0;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 1.25rem;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  @media (min-width: 768px) {
    .base--93fbc {
      border-radius: 4px;
      display: inline-block;
      height: auto;
      margin-bottom: 40px;
      margin-top: 40px;
      position: relative;
      vertical-align: middle;
    }
  }
  
  .inner-modal-container--d4129 {
    height: 100%;
    overflow-y: auto;
  }
  
  .inner-modal-container--d4129::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  
  .modal-overlay--69550 {
    text-align: center;
  }
  
  .small--c65a2 {
  }
  @media (min-width: 768px) {
    .small--c65a2 {
      padding: 2.5rem;
      width: 480px;
    }
    .small--c65a2 .button-container--2171b {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  
  .medium--3f5a7 {
  }
  @media (min-width: 768px) {
    .medium--3f5a7 {
      padding: 1.75rem 2.5rem 2.5rem;
      width: 560px;
    }
  }
  
  .large--04f00 {
  }
  @media (min-width: 768px) {
    .large--04f00 {
      padding: 1.75rem 2.5rem 2.5rem;
      width: 780px;
    }
  }
  
  .close-button--85a85 {
    color: var(--site-union-modals-standard-close-button-color, var(--site-union-color-neutral-black, #000));
  }
  
  .button-container--2171b {
    display: flex;
    justify-content: flex-end;
  }
  
  .header--8a92c {
    margin-top: 16px;
  }
  .animated--a2915 {
    transition: ease-in 300ms;
    transition-property: background-color;
  }
  
  .overlay--252ff {
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  .overlay--252ff.not-visible--b9158, .overlay--252ff.not-enabled--5be17 {
    --overlay-opacity: 0;
  }
  .overlay--252ff.not-enabled--5be17 {
    pointer-events: none;
  }
  
  .color-dark--b0bbc {
    background-color: rgba(31, 31, 31, var(--overlay-opacity, 0.7));
  }
  
  .color-light--f6c9a {
    background-color: rgba(255, 255, 255, var(--overlay-opacity, 0.8));
  }
  
  .fixed-to-relative--af9e1 {
    position: absolute;
  }
  
  .fixed-to-page--c5248 {
    position: fixed;
  }
  .no-scroll--2ecef {
    overflow: hidden;
  }
  .container--e7bf7 {
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }
  
  .container--e7bf7 * {
    pointer-events: none;
  }
  
  .is-inline--fda67 {
    display: inline-flex;
  }
  
  .is-block--c90e8 {
    display: flex;
  }
  
  .size-sm--9552e {
    height: var(--site-union-icons-interactive-sm-size, 2rem);
    width: var(--site-union-icons-interactive-sm-size, 2rem);
  }
  
  .size-md--a869b {
    height: var(--site-union-icons-interactive-md-size, 2.75rem);
    width: var(--site-union-icons-interactive-md-size, 2.75rem);
  }
  
  .size-lg--47a16 {
    height: var(--site-union-icons-interactive-lg-size, 3rem);
    width: var(--site-union-icons-interactive-lg-size, 3rem);
  }
  .review-snippet-container--73701 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .review-snippet-container--73701 .rating-stars--43147 {
    background-position: center;
    display: inline-flex;
    height: 1rem;
    margin-right: 3.33px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .review-snippet-container--73701 .decimal-rating--8dcc0 {
    border: none;
    color: var(--site-union-color-midnight, var(--site-union-color-neutral-600, #37393F));
    display: none;


    padding: 0 0.25rem;
  }
  @media (min-width: 768px) {
    .review-snippet-container--73701 .decimal-rating--8dcc0 {
      display: block;
    }
  }
  .review-snippet-container--73701 .reviews-total--71402 {
    color: var(--site-union-color-coolgray-500, var(--site-union-color-neutral-500, #51545C));

    padding: 0;
  }
  .review-snippet-container--73701 .reviews-total--71402::before {
    content: "(";
  }
  .review-snippet-container--73701 .reviews-total--71402::after {
    content: ")";
  }
  .amount-needed--61c87{color:var(--site-union-color-text-default, var(--site-union-color-neutral-black, #000));margin:2rem 0}.status-badge--fda2a{margin:2rem 0}
  .container--b6144 {
    align-items: center;
    border-radius: 0.125rem;
    display: inline-flex;
    vertical-align: middle;
    white-space: nowrap;
    width: -moz-min-content;
    width: min-content;
  }
  
  .container--b6144.container--b6144 {

  }
  
  .sizeSm--a9a71.sizeSm--a9a71 {

    height: 1.25rem;
    padding: 0 0.25rem;
  }
  
  .sizeMd--fe6e5.sizeMd--fe6e5 {

    height: 1.5rem;
    padding: 0 0.5rem;
  }
  
  .sizeLg--1ca8f.sizeLg--1ca8f {

    height: 2rem;
    padding: 0 0.5rem;
  }
  
  .iconContainer--cfb76 {
    display: flex;
    max-height: -moz-min-content;
    max-height: min-content;
  }
  
  .sizeSm--a9a71 .iconContainer--cfb76 {
    display: none;
  }
  
  .sizeLg--1ca8f .iconContainer--cfb76 {
    margin-right: 0.5rem;
  }
  
  .sizeMd--fe6e5 .iconContainer--cfb76 {
    margin-right: 6px;
  }
  
  .typeCallOutStrong--9a848 {
    background-color: var(--site-union-badges-call-out-strong-background-color, var(--site-union-color-additional-01extra-300, #A1CDF5));
    color: var(--site-union-badges-call-out-strong-color, var(--site-union-color-neutral-600, #37393F));
  }
  
  .typeCallOut--f4045 {
    background-color: var(--site-union-badges-call-out-background-color, var(--site-union-color-additional-04extra-100, #FFF5ED));
    color: var(--site-union-badges-call-out-color, var(--site-union-color-neutral-600, #37393F));
  }
  
  .typeFeatured--1d7c1 {
    background-color: var(--site-union-badges-featured-background-color, var(--site-union-color-background-dark, var(--site-union-color-neutral-black, #000)));
    color: var(--site-union-badges-featured-color, var(--site-union-color-text-on-dark-default, var(--site-union-color-neutral-white, #FFF)));
  }
  
  .typeInformational--5d91a {
    background-color: var(--site-union-badges-informational-background-color, var(--site-union-color-background-light-contrast, var(--site-union-color-neutral-100, #F1F2F4)));
    color: var(--site-union-badges-informational-color, var(--site-union-color-neutral-600, #37393F));
  }
  
  .typeAttribute--22920 {
    background-color: var(--site-union-badges-attribute-background-color, var(--site-union-color-additional-01extra-100, #E6F2FC));
    color: var(--site-union-badges-attribute-color, var(--site-union-color-neutral-600, #37393F));
  }
  
  .typePositiveStrong--5d394 {
    background-color: var(--site-union-badges-positive-strong-background-color, var(--site-union-color-status-success-200, #008A05));
    color: var(--site-union-badges-positive-strong-color, var(--site-union-color-text-on-dark-default, var(--site-union-color-neutral-white, #FFF)));
  }
  
  .typePositive--e711f {
    background-color: var(--site-union-badges-positive-background-color, var(--site-union-color-status-success-100, #E2FFEE));
    color: var(--site-union-badges-positive-color, var(--site-union-color-neutral-600, #37393F));
  }
  
  .typeNeutral--54c65 {
    background-color: var(--site-union-badges-neutral-background-color, var(--site-union-color-status-warning-100, #FFF3DD));
    color: var(--site-union-badges-neutral-color, var(--site-union-color-neutral-600, #37393F));
  }
  
  .typeNegative--19235 {
    background-color: var(--site-union-badges-negative-background-color, var(--site-union-color-status-error-100, #FFECE4));
    color: var(--site-union-badges-negative-color, var(--site-union-color-neutral-600, #37393F));
  }
  .sr-only--19d91 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .top-choice--f93bd {
    align-items: center;
    border-radius: 2px;
    display: flex;


    justify-content: center;

    padding: 4px 8px;
    position: absolute;
  }
  .top-choice--f93bd svg {
    display: none;
  }
  @media (min-width: 560px) {
    .top-choice--f93bd {


      padding: 6px 12px 6px 8px;
    }
    .top-choice--f93bd svg {
      display: inline-block;
      margin-right: 8px;
    }
  }
  .product-image-wrapper--05240 {
    clear: both;
    overflow: hidden;
    width: 100%;
  }
  .product-image-wrapper--05240 .product-image--8f2fc {
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
    width: 100%;
  }
  .product-image-wrapper--05240 .product-image--8f2fc::before {
    box-sizing: border-box;
    content: "";
    display: block;
    outline: none;
    padding-top: 100%;
  }
  .product-details-name--8971c {
    padding-top: 0.25rem;
  }
  
  .product-details-price--d3ecf {
    display: block;

    padding-top: 1rem;
  }
  
  .product-price-mini--fae2d {
    flex: 1 1;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 768px) {
    .product-price-mini--fae2d {
      margin-bottom: 2rem;
      text-align: right;
    }
  }
  
  .product-details-container-mini--4e6b5 {
    border: 1px solid var(--site-union-color-border-default, var(--site-union-color-neutral-300, #CACCD0));
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    padding: 1.25rem;
    position: relative;
  }
  @media (min-width: 768px) {
    .product-details-container-mini--4e6b5 {
      align-items: center;
      height: 120px;
      margin-bottom: 2rem;
    }
  }
  .product-details-container-mini--4e6b5 .product-details--ced10 {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
    margin-top: 0.25rem;
    width: 100%;
  }
  @media (min-width: 768px) {
    .product-details-container-mini--4e6b5 .product-details--ced10 {
      margin-top: 0.75rem;
    }
  }
  .product-details-container-mini--4e6b5 .product-image-container--fc4fa {
    min-width: 80px;
  }
  .product-details-container-mini--4e6b5 .product-name--3a05d {
    margin-bottom: 0.5rem;
  }
  @media (min-width: 768px) {
    .product-details-container-mini--4e6b5 .product-name--3a05d {
      flex: 2 1;
      margin-bottom: 1rem;
    }
  }
  .product-details-container-mini--4e6b5 .product-name-container--ddc7e {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    .product-details-container-mini--4e6b5 .product-name-container--ddc7e {
      flex-direction: row;
    }
  }
  .product-details-container-mini--4e6b5 .product-price-container--3a5fe {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    .product-details-container-mini--4e6b5 .product-price-container--3a5fe {
      flex: 1 1;
      flex-direction: row-reverse;
    }
  }
  .product-details-container-mini--4e6b5 .product-storename--9f8d2 {
    color: var(--site-union-color-text-subtle, var(--site-union-color-neutral-500, #51545C));
    margin-bottom: 0.25rem;
  }
  
  .product-details-container--131d2 {
    margin: 0 auto;
    position: relative;
  }
  @media (min-width: 768px) {
    .product-details-container--131d2 {
      display: flex;
      margin: 0;
    }
  }
  .product-details-container--131d2 .product-details--ced10 {
    width: 100%;
  }
  @media (min-width: 768px) {
    .product-details-container--131d2 .product-details--ced10 {
      padding-left: 3.75rem;
    }
  }
  .product-details-container--131d2 .product-details--ced10 .product-storename--9f8d2 {
    color: var(--site-union-color-text-subtle, var(--site-union-color-neutral-500, #51545C));
    padding-top: 1.25rem;
  }
  @media (min-width: 768px) {
    .product-details-container--131d2 .product-details--ced10 .product-storename--9f8d2 {
      padding-top: 0;
    }
  }
  .product-details-container--131d2 .product-image-container--fc4fa {
    max-width: 100%;
    min-width: 280px;
  }
  @media (min-width: 768px) {
    .product-details-container--131d2 .product-image-container--fc4fa {
      min-width: 332px;
    }
  }
  
  .product-details-container-mini--4e6b5 .top-choice-badge--f8cc8, .product-details-container--131d2 .top-choice-badge--f8cc8 {
    left: 8px;
    top: 8px;
    z-index: 1;
  }
  .couple-avatar-container--02d8b {
    align-items: center;
    background-color: var(--site-union-color-coolgray-500, var(--site-union-color-neutral-500, #51545C));
    border-radius: 50%;
    display: flex;
    height: 28px;
    justify-content: center;
    max-width: 28px;
    padding: 1px;
    width: 100%;
  }
  .couple-avatar-container--02d8b .couple-avatar--45266 {
    align-items: center;
    border: 1px solid var(--site-union-color-text-on-dark-default, var(--site-union-color-neutral-white, #FFF));
    border-radius: 50%;
    color: var(--site-union-color-text-on-dark-default, var(--site-union-color-neutral-white, #FFF));
    display: flex;

    font-style: normal;

    height: 100%;
    justify-content: center;

    width: 100%;
  }
  .icon--1935d {
    display: inline-block;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
  }
  
  .icon-has-no-size--189a8 {
    height: 1em;
    width: 1em;
  }
  
  .size-sm--ad48b {
    height: var(--site-union-icons-sm-size, 1rem);
    width: var(--site-union-icons-sm-size, 1rem);
  }
  
  .size-md--ffa00 {
    height: var(--site-union-icons-md-size, 1.5rem);
    width: var(--site-union-icons-md-size, 1.5rem);
  }
  
  .size-lg--2b900 {
    height: var(--site-union-icons-lg-size, 2rem);
    width: var(--site-union-icons-lg-size, 2rem);
  }
  @charset "UTF-8";
  .couple-note-container--d49ee {
    background-color: var(--site-union-color-background-light-contrast, var(--site-union-color-neutral-100, #F1F2F4));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .couple-note-container--d49ee .couple-note-couple-container--7bf9d {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 0.75rem 0.75rem;
  }
  @media (min-width: 480px) {
    .couple-note-container--d49ee .couple-note-couple-container--7bf9d {
      padding: 0 1.25rem 1.25rem;
    }
  }
  .couple-note-container--d49ee .couple-note-couple-container--7bf9d .couple-note-couple-name--3d940 {
    -webkit-box-orient: vertical;
    color: var(--site-union-color-text-subtle, var(--site-union-color-neutral-500, #51545C));
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin-right: 0.5rem;
    max-height: 32px;
    overflow: hidden;
    text-align: right;
    word-break: break-all;
  }
  @media (min-width: 480px) {
    .couple-note-container--d49ee .couple-note-couple-container--7bf9d .couple-note-couple-name--3d940 {
      word-break: unset;
    }
  }
  .couple-note-container--d49ee .couple-note-couple-container-manage--02889 {
    padding: 0 0.75rem 0.75rem;
  }
  @media (min-width: 768px) {
    .couple-note-container--d49ee .couple-note-couple-container-manage--02889 {
      padding: 0 1.25rem 1.25rem;
    }
  }
  .couple-note-container--d49ee .couple-note-details--50130 {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0.75rem;
  }
  @media (min-width: 480px) {
    .couple-note-container--d49ee .couple-note-details--50130 {
      padding: 1.25rem;
    }
  }
  .couple-note-container--d49ee .couple-note-details--50130 .couple-note-details-summary--2f715 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;

    overflow: hidden;
    position: relative;
  }
  @media (min-width: 480px) {
    .couple-note-container--d49ee .couple-note-details--50130 .couple-note-details-summary--2f715 {
      -webkit-line-clamp: 4;

    }
  }
  @media (min-width: 1360px) {
    .couple-note-container--d49ee .couple-note-details--50130 .couple-note-details-summary--2f715 {
      -webkit-line-clamp: 5;
    }
  }
  .couple-note-container--d49ee .couple-note-details--50130 .couple-note-details-summary--2f715::before {
    content: "\A0\A0\A0\A0\A0\A0\A0\A0";
  }
  .couple-note-container--d49ee .couple-note-details-manage--49217 {
    padding: 0.75rem;
  }
  @media (min-width: 768px) {
    .couple-note-container--d49ee .couple-note-details-manage--49217 {
      padding: 1.25rem;
    }
  }
  .couple-note-container--d49ee .couple-note-details-manage--49217 .couple-note-details-summary-manage--058a1 {
    -webkit-line-clamp: 4;
  }
  @media (max-width: 890px) {
    .couple-note-container--d49ee .couple-note-details-manage--49217 .couple-note-details-summary-manage--058a1 {
      -webkit-line-clamp: 3;
    }
  }
  @media (max-width: 680px) {
    .couple-note-container--d49ee .couple-note-details-manage--49217 .couple-note-details-summary-manage--058a1 {
      -webkit-line-clamp: 2;
    }
  }
  .couple-note-container--d49ee .couple-note-pdp-details--a60f4 {
    align-items: center;
    border-radius: 20px;
    display: flex;
    height: 100%;
    padding: 1.25rem 1.25rem 0.75rem;
  }
  .couple-note-container--d49ee .couple-note-pdp-details--a60f4 .couple-note-pdp-details-summary--46177 {
    position: relative;
  }
  .couple-note-container--d49ee .couple-note-pdp-details--a60f4 .couple-note-pdp-details-summary--46177::before {
    content: "\A0\A0\A0\A0\A0\A0\A0\A0";
  }
  .couple-note-container--d49ee .couple-note-quote--bd8a2 {
    fill: var(--site-union-color-tkred-400, var(--site-union-color-primary-400, #D700A0));
    height: 30px;
    left: -6px;
    position: absolute;
    top: -2px;
    width: 30px;
  }
  .couple-note-container--d49ee .couple-note-quote--bd8a2 [data-tk-catalyst-variant^=b] {
    fill: var(--site-union-color-neutral-black, #000);
  }
  .couple-note-container--d49ee .couple-note-text--d7b45 {
    display: contents;
  }
  @media (min-width: 480px) {
    .couple-note-container--d49ee .couple-note-text--d7b45 {


    }
  }
  
  [data-tk-catalyst-variant^=b] .couple-note-container--d49ee .couple-note-quote--bd8a2 {
    fill: var(--site-union-color-neutral-black, #000);
  }
  .couple-note-badge-container--6b78a {
    align-items: center;
    bottom: 2px;
    display: flex;
    height: 44px;
    position: absolute;
    right: 8px;
  }
  .couple-note-badge-container--6b78a .couple-note-badge--debca {
    align-items: center;
    background-color: var(--site-union-color-background-light, var(--site-union-color-neutral-white, #FFF));
    border-radius: 100px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 32px;
    padding: 0.125rem;
    width: 60px;
  }
  .couple-note-badge-container--6b78a .couple-note-badge--debca .couple-note-quote--a23a0 {
    fill: var(--site-union-color-tkred-400, var(--site-union-color-primary-400, #D700A0));
    height: 30px;
    width: 30px;
  }
  
  [data-tk-catalyst-variant^=b] .couple-note-badge-container--6b78a .couple-note-badge--debca .couple-note-quote--a23a0 {
    fill: var(--site-union-color-neutral-black, #000);
  }
  .heart--369f1{margin-right:6px}.trophy--9921e{display:inline-block;margin-right:6px}

  .overlay-spinner-container--312b5{width:100%;height:100%;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1000}.overlay-spinner-container--312b5 .overlay-spinner--d4dd6{position:absolute;top:45%;left:50%;margin-left:-1.25rem}.opaque-background--fd483{background:var(--site-union-color-background-light, var(--site-union-color-neutral-white, #FFF));opacity:.6}
  .wrapper--33ae7{display:contents}.wrapper--33ae7 [class^=progress--]{border-bottom-right-radius:0;border-top-right-radius:0;background-color:var(--site-union-color-teal-600, var(--site-union-color-status-success-300, #005A25)) !important;height:10px}.wrapper--33ae7 [class^=progress-full--]{background-color:var(--site-union-color-teal-600, var(--site-union-color-status-success-300, #005A25)) !important;height:10px}.wrapper--33ae7.large--0613c [class^=progress-bar--]{margin-top:1rem}@media(min-width: 768px){.wrapper--33ae7.large--0613c [class^=progress-bar--]{margin-top:30px}}.wrapper--33ae7.large--0613c [class^=progress--]{height:20px}.wrapper--33ae7.large--0613c [class^=progress-full--]{height:20px}
  .progress-bar--f9b36 {
    color: var(--site-union-color-neutral-500, #51545C);
    display: flex;
    flex-direction: column;
  }
  
  .bar-container--2aabe {
    display: flex;
    height: 20px;
  }
  
  .bar--adba8 {
    flex: 1 0 auto;
    margin: auto 0;
  }
  
  .track--e060e {
    background-color: var(--site-union-progress-bar-track-color, var(--site-union-color-neutral-200, #E4E5E9));
    border-radius: 12px;
  }
  
  .thumb--4588b {
    background-color: var(--P_thumb-color, var(--site-union-progress-bar-thumb-color, var(--site-union-color-additional-01extra-400, #0073E6)));
    border-radius: 12px;
    height: 8px;
    transition: width 0.5s ease-in-out;
    width: var(--P_thumb-width);
  }
  
  .value-text--6912d {
    margin-left: 8px;
    position: relative;
    text-align: right;
    width: var(--P_value-text-width);
  }