--- ---

/* Make navbar links appear cleanly */
p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Link styling */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nicelink {
    color: 	#1760c6ff;
}

.nicelink:visited {
    color: rgb(230, 113, 230);
}

/* Makes the front page photo go to the left of the text instead of above it */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

/* Section styling for content pages */
.section-header {
  margin: 24px 0 0 0;
  text-align: center;
  font-family: Roboto;
  letter-spacing: 2px;
  color: #F1E5AC;
  font-size: 19px;
  font-weight: normal;
  text-transform: uppercase;
}

.section-item {
  padding: 0;
  max-width: 550px;
  text-align: left;
  font-family: Roboto;
  letter-spacing: 1px;
  color: #F1E5AC;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  margin-top: 15px;
  margin-bottom: 40px;
}

@media(max-width: 640px) {
  .section-header {
    font-size: calc(19px * 0.82);
  }

  .section-item {
    font-size: calc(16px * 0.9);
  }
}


@media (max-width: 767px) {
  .section-header {
    padding: 16px;
  }

  .section-item {
    padding: 0 16px;
  }

  select,   textarea,   input[type="text"],   input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
}

@media (min-width: 720px) {
  .section-item {
    max-width: 720px;
  }
}